body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.barra{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    background-color: azure;
}

.eu{
    align-self: flex-end;
    background-color: green;
}

.outro{
    align-self: flex-start;
    background-color: white;
}

#janela_conversa{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: gray;
}